/***** ChrisMills.la Styles *****/
body {
	font-family:'Helvetica Neue', Arial, sans-serif;
	background:#f1f1f0;
	margin:0;
	padding:0;
}
.fade {
	opacity:0;
	transition: opacity 1s ease;
}
.fade-delay {
	opacity:0;
	transition: opacity 1s ease;
	transition-delay: 0.5s;
}
.load {
    opacity:1;
}
.loader,
.loader_white {
	background:url('../img/loader_gray.gif') no-repeat;
	position:absolute;
	top:-66px;
	left:85px;
	width:16px;
	height:16px;
	z-index:2;
}
.loader_white {
	background:url('../img/loader_white.gif') no-repeat;
	top:116px;
	left:30px;
}
.logo {
	background:url('../img/logo.png') no-repeat;
	position:absolute;
	top:27px;
	left:30px;
	width:57px;
	height:49px;
	z-index:1;
}
.logo a {
	position:absolute;
	display:block;
	width:100%;
	text-indent:-9999px;
	height:100%;
}
nav {
	position:absolute;
	top:10px;
	right:30px;
	z-index:1;
}
.trigger {
	color:#252525;
	font-size:48px;
	cursor:pointer;
}
nav
div {
	position:absolute;
	top:50px;
	right:30px;
	z-index:2;
	display:none;
}
nav:hover
div {
	display:block;
}
.view {
	position:relative;
	width:100%;
}
h1 {
	font-size:24px;
	line-height:28px;
	font-weight:bold;
	padding:45px 0 10px 0;
	margin:0;
	text-align:center;
}
p {
	font-weight:bold;
	font-size:14px;
	line-height:18px;
	text-align:center;
	padding:0;
	margin:0 0 14px 0;
}
video {
	width:100%;
	background:#fff;
	min-height:300px;
	margin:98px 0 40px 0;
}
/*
.logo {
	background:url('../img/logo.png') no-repeat;
	width:43px;
	height:37px;
}
*/